@font-face {
    font-family: oswaldregular;
    src: url('font/Oswald-Regular.ttf');
}
@font-face {
    font-family: oswaldbold;
    src: url('font/Oswald-Bold.ttf');
}
@font-face {
    font-family: ralewaylight;
    src: url('font/Raleway-Light.ttf');
}
@font-face {
    font-family: ralewaybold;
    src: url('font/Raleway-Bold.ttf');
}

$font-size-regular: 12px;
$font-size-hello: 100px;

$color-azul: rgb(52,102,204);
$color-rojo: rgb(247,102,102);
$color-verde: rgb(83,206,161);
$color-negro: rgb(29,29,27);
$color-gris: rgb(60,60,59);
$color-grisc: rgb(237,237,237);

@media only all and (max-width: 1024px){
	.secciontwo_image{
		img{
		width: 300px;
		}
	}
	.header{
		background-color: red;
	}

}

@media only all and (max-width: 720px){
	.seccionone_left {
	display: table-row;
	}
	.seccionone_right {
	display: table-row;
	}
	.seccionone_center {
	display: table-row; 
	}
	

}
