.container{
	width: 100%;
    height: 100%;
}
.header{
	width: 100%;
	height:440px;
	position: relative;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50%);

}

.header_inscripcion{
	width: 230px;
	height: 65px;
	background-color: rgba(29,29,27,0.2);
	border-radius: 2px;
	right: 100px;
	position: absolute;
	padding-top: 5px;

}

.header_inscripcion_image{
	display: inline-block;
	width: 50px;
	vertical-align:middle;
	margin-left: 20px;


}
.header_inscripcion_text{
	display: inline-block;
	width: 130px;
	vertical-align:middle;
	left: 15px;
	font-family: oswaldregular;
	font-size: $font-size-regular;
	color: white;

}

.header_texto_flecha{
	position: absolute;
	bottom: 8px;
	left: 50%;
    -webkit-transform: translate(-50%);
}

.header_texto{
	position: absolute;
	left: 100px;
	bottom: 110px;
}

.header_texto_hello{
	font-family: oswaldbold;
	font-size: $font-size-hello;
}

.header_texto_subtitulo{
	font-family: ralewaylight;
	font-size: 20px;
}

.header_imagen{
	position: absolute;
	bottom: 50px;
	right: 100px;
}

/*TABLA*/

.table_container{
	display: table;

}
.table_uno{
	display: table-cell;
	vertical-align: middle;
	background-color: $color-azul;
	padding: 40px;
}
.table_dos{
	display: table-cell;
	background-color: $color-rojo;
	padding: 40px;
}
.table_tres{
	display: table-cell;
	background-color: $color-verde;
	padding: 40px;
}

.seccionone{
	width: 100%;
	height:270px;
	position: relative;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50%);
    background-color: $color-rojo;
}
.seccionone_left{
	left: 0px;
	width: 35%;
	height: 270px;
	background-color: $color-azul;
	position: absolute;
}

.seccionone_right{
	right: 0px;
	width: 35%;
	height: 270px;
	background-color: $color-verde;
	position: absolute;
}

.seccionone_left_title, .seccionone_right_title, .seccione_centre_tiitle {
	font-family: oswaldregular;
	font-size: 14px;
	color: white;
	top: 30px;
	left: 50%;
	 -webkit-transform: translate(-50%);
	position: absolute;
}
.seccionone_left_description, .seccionone_right_description, .seccionone_centre_description {
	
	width: 230px;
	position: absolute;
	font-family: ralewaylight;
	color: white;
	font-size: 14px;
	top: 75px;
	left: 50%;
	 -webkit-transform: translate(-50%);
}
.seccionone_left_button, .seccionone_right_button, .seccionone_centre_button {
	position: absolute;
	right: 90px;
	border-radius: 3px;
	border: 1px solid white;
	width: 110px;
	height: 40px;
	bottom: 30px;
	left: 50%;
	 -webkit-transform: translate(-50%);
	line-height: 40px;
	font-family: oswaldregular;
	color: white;
	text-align: center;
	font-size: 10px;

}


.secciontwo{
	width: 100%;
	height: 440px;
	position: relative;

}
.secciontwo_image{
	top: 40px;
	left: 130px;
	width: 490px;
	position: absolute;
}
.secciontwo_title{
	top: 40px;
	right: 130px;
	width: 500px;
	height: 300px;
	position: absolute;
	font-family: oswaldbold;
	font-size: 60px;
}
.secciontwo_description{
	top: 230px;
	right: 130px;
	width: 500px;
	height: 300px;
	font-family: ralewaylight;
	font-size: 20px;
	position: absolute;
}















